# .env
.env
env

# Compiled class file
*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.rar
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# redundants
.DS_Store
__pycache__/
.vscode/
temp_repos/
temp_repos_cloned/
.ipynb_checkpoints/
*.Dockerfile

!error-analysis/possible-flaky-repos/**/**/*.log
!error-analysis/possible-flaky-repos/**/**/*.Dockerfile
!error-analysis/possible-flaky-repos/**/**/*.txt

!error-analysis/possible-flaky-repos-legacy/**/**/*.log

.idea/
